<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nfcf.BatteryStatus"
    android:versionCode="13"
    android:versionName="1.5.2" > <!-- X.Y.z (X Major changes, Y Minor changes, z bug fixes) -->
	<!-- Removed toast when services restart and a notification exists -->
	<!-- Due to some possible trademark infringement, I decided to remove any Cosm keyword from the application -->
	
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Activities.ActMain"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ActSettings" >
        </activity>
        
		<receiver android:name=".StartServicesReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
  		</intent-filter>
    	</receiver>

        <receiver android:name=".StartServicesReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <data android:scheme="package" android:path="nfcf.BatteryStatus"/>
  		</intent-filter>
    	</receiver>

		<receiver android:name=".StartServicesReceiver" >
        <intent-filter>
            <action android:name="nfcf.BatteryStatus.intent.action.START_SERVICES_COMPLETED" />
  		</intent-filter>
    	</receiver>

        <service
            android:name=".Services.ServBattery"
            android:enabled="true" />
        <service
            android:name=".Services.ServSendData"
            android:enabled="true" />
        <service
            android:name=".Services.ServCollectData"
            android:enabled="true" />
    </application>
</manifest>